	
	/* Модуль Основной стиль */
	
	/* Фон страницы */
	
	body {
		background: #000;
		background: url('../materials/Images/Home/bgimage.jpg') center/cover no-repeat fixed;
	}
	
	/* Модуль сроллбара */
	::-webkit-scrollbar {
		width: 10px;
	}
	
	/* Трекер сроллбара */
	::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb {
		border-radius: 0px;
		border-radius: 0px;
		background: rgba(255,0,0,0.9);
		box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background: rgba(0,0,0,0.0);
	}
	::-webkit-scrollbar-track-piece {
		background-color: rgba(0,0,0,0.3);
	}
	
	#plashka {
		width: 100%;
		height: 50px;
	}

	/*Контент страницы*/

	.wrapper {
		display: flex;
		flex-direction: column;
		min-height: 100%;
		overflow: hidden;
		padding: 30px 30px 0 30px;
	}

	.container {
		max-width: 1920px;
		width: 100%;
		border: 3px solid white;
		margin: 0px auto;
		flex: 1 1 auto;
	}

	@media (max-width:1920px) {
		.container {
			max-width: 1920px;
		}
	}

	@media (max-width:1280px) {
		.container {
			max-width: 1280px;
		}
	}

	@media (max-width:1200px) {
		.container {
			max-width: 970px;
		}
	}

	@media (max-width:992px) {
		.container {
			max-width: 750px;
		}
	}

	@media (max-width:767px) {
		.container {
			max-width: none;
		}
	}

	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 3px solid yellow;
	}

	.header {
		border: 3px solid red;
		margin: 30px 0 70px 0;
		opacity: 0%;
		animation: in 1s ease-in 0s 1 forwards;
	}

	.middle {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		border: 3px solid green;
		opacity: 0%;
		animation: in 1.5s ease-in 0s 1 forwards;
	}

	.footer {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		border: 3px solid blue;
		opacity: 0%;
		animation: in 2s ease-in 0s 1 forwards;
	}

	/*Текст*/
	.studio_name {
		font-family: Jost, Arial, "Times New Roman", sans-serif;
		font-size: 100px;
		font-weight: 700;
		font-style: normal;
		letter-spacing: 30px;
		color: rgba(255, 0, 0, 1.0);
		text-align: center;
	}

	.studio_name span {
		text-shadow: red 0px 0px 10px;
		transition: text-shadow 1s ease-in-out 1s;
		animation: morgalka 3s ease-in-out 0s infinite forwards;
	}

	.studio_subname {
		font-family: Roboto, Arial, "Times New Roman", sans-serif;
		font-size: 24px;
		font-weight: 100;
		font-style: normal;
		letter-spacing: 10px;
		color: rgb(255, 255, 255);
		text-align: center;
	}

	.text_follow_me {
		font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 36px;
		font-weight: 100;
		font-style: italic;
		letter-spacing: 5px;
		color: aliceblue;
		padding: 10px;
		border: 3px solid red;
		text-align: center;
	}

	.ver span {
		font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 17px;
		color: rgba(255,0,0,1);
		font-weight: 400;
		text-shadow: 0 0 5px rgba(255,0,0,1);
	}

	.footer__text {
		margin: 0px auto;
		font-family: Roboto, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 20px;
		font-weight: 300;
		font-style: normal;
		color: rgb(197, 197, 197);
	}

	/* Линки */

	#links_block {
		display: flex;
		border: 3px solid rgba(0,255,255,1);
		text-align: center;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 25px 0px 10px;
		width: 100%;
		height: 100%;
	}

	.item {
		border: 3px solid rgba(255,255,255,1);
		padding: 10px;
		margin: 0 20px;
	}

	.item_image {
		width: 50px;
		border-radius: 25px;
		transition: width 0.5s, border-radius 0.1s ease-out 0s
	}

	.item_image:hover {
		width: 70px;
		border-radius: 10px;
	}

	#gereral_page_block_one {
		border: 3px solid rgba(255,0,0,1);
		font-family: Jost, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 24px;
		font-weight: 100;
		font-style: normal;
		letter-spacing: 5px;
		color: aliceblue;
		padding: 10px;
	}

	#gereral_page_block_two {
		border: 3px solid rgba(255,255,255,1);
		font-family: Jost, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 24px;
		font-weight: 100;
		letter-spacing: 5px;
		color: aliceblue;
		padding: 10px;
	}

	#gereral_page_block_three {
		border: 3px solid rgba(255,255,255,1);
		font-family: Jost, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 24px;
		font-weight: 100;
		letter-spacing: 5px;
		color: aliceblue;
		padding: 10px;
	}